[Unit]
Description=Rclone OneDrive_Personal Mount
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
--config=/home/oskari/.config/rclone/rclone.conf \
--vfs-cache-mode writes \
--allow-other \
OneDrive_Personal: /home/oskari/Documents/OneDrive_Personal 
ExecStop=/bin/fusermount -uz /home/oskari/Documents/OneDrive_Personal

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
